# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/**/.vitepress/cache/*
docs/03.考试/在线练习/第15套在线题目.md
docs/03.考试/在线练习/第16套在线题目.md
docs/03.考试/在线练习/第17套在线题目.md
docs/03.考试/在线练习/第18套在线题目.md
docs/03.考试/在线练习/第19套在线题目.md
docs/03.考试/在线练习/第20套在线题目.md
docs/03.考试/在线练习/第21套在线题目.md
docs/03.考试/在线练习/第22套在线题目.md
docs/填空题组件示例.md
docs/选择题组件示例.md
