# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo   
*.ntvs*
*.njsproj
*.sln
*.sw?


/**/.vitepress/cache/*
/**/.vitepress/dist/*
docs/填空题组件示例.md
docs/选择题组件示例.md
docs/01.指南
docs/02.创客/编程系列/Python编程题目示例.md
docs/02.创客/编程系列/Python在线编辑器示例.md
docs/02.创客/编程系列/Python在线编辑器JSON数据示例.md
/pictures/

